form {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 1rem;
  }
  input {
    border: none;
    border: 2px solid #777;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  button {
    background-color: #06070d;
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem;
    margin-top: 1rem;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}
