@use '../mixins';
@use '../variables';

form {
  @include mixins.display-flex;
  align-items: initial;
  justify-content: initial;
  label {
    @include mixins.display-flex;
    align-items: initial;
    justify-content: initial;
    font-weight: bold;
    margin-top: 1rem;
    .label-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      small {
        color: red;
      }
    }
  }
  input {
    border: none;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  button {
    @include mixins.button;
  }
}
