@use '../mixins';

.container-modal {
  max-width: 450px;
  padding: 2rem;
  img,
  h1 {
    margin-bottom: 2rem;
  }
  .modal {
    @include mixins.display-flex;
    h1 {
      font-size: 2.5rem;
    }
    button {
      @include mixins.button;
    }
  }
}
